<!-- <h1>this is navbar</h1> -->
<mat-toolbar class="mtTool"  >
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Examportal</span>
  <span class="example-spacer"></span>
  <div class="conatiner  text-center " style="margin-top: -7px;" >
  <a
 
    *ngIf="!isLoggedIn"
    routerLink="/login"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
  <span class="spn" style="font-size: 1.3rem; margin-left: -1rem;">Login</span>
  </a>

  <a
   
    *ngIf="!isLoggedIn"
    routerLink="/signup"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml20"
    aria-label="Example icon-button with heart icon"
  >
    <span  style="font-size: 1.3rem; margin-top: 12px; margin-left: -1rem;">Register</span>
  </a>
</div>

  <a
  style="font-size: 1.3rem; margin-top: 12px;  margin-top: -7px; margin-right: 10rem;"
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-icon-button
    
    class="example-icon favorite-icon "
    aria-label="Example icon-button with heart icon"
  >
  {{login.getUser().username}}
    Logout
  </a>

  <!-- <button
  
    *ngIf="isLoggedIn && user"
    class="example-icon favorite-icon ml20"
    mat-button
    routerLink="/admin/profile"
    aria-label="Example icon-button with heart icon"
  >
    <!-- {{ user.username }} -->
  <!-- </button> --> 
</mat-toolbar>
